.topbar {
	display: flex;
	background: var(--bg-light);
	border-bottom: 2px solid var(--font-base);
	justify-content: space-between;
	font-size: 1.3rem;
	padding: 1rem 1.5rem;
	margin-bottom: 3rem;
	align-items: center;
}

.topbar ul {
	list-style: none;
	display: flex;
	gap: 30px;
}

.topbar li:hover {
	transform: scale(1.5);
}

.topbar i {
	display: none;
	cursor: pointer;
	font-size: 1.3rem;
}

.years-worked-container {
	display: flex;
	justify-content: center;
}

.years-worked {
	font-size: 1.8rem;
	text-align: center;
	border-bottom: 1px solid #ffff;
}

.artwork-container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2rem;  
	column-count: 3; 
	padding: 2rem;
}

.art-card {
	background-color: var(--bg-light);
	width: 100%;
	height: 100%;
	padding: 1rem;
	font-size: 1.3rem;
	border: 2px solid black;
	border-radius: 2rem;
	display: inline-block;
	margin-bottom: 1rem;
	position: relative;
}

.img-container img {
	width: 100%;
	border-radius: 2rem;
	border: 2px solid white;
	object-fit: cover;
	cursor: pointer;
	margin-bottom: .5rem;
}

.modal-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffffffdd;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;
}

.modal-img-wrap {
	max-width: 80%;
	max-height: 80%;
	overflow: hidden;
	pointer-events: none;
}

.modal-img {
	width: 100%;
	height: 80vh;
  object-fit: contain;
}

.page-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	background-color: var(--bg-light);
	padding: 1rem;
}

.page-bar ul {
	display: flex;
	list-style: none;
	justify-content: center;
	gap: 15px;
	font-size: 2rem;
}

.favBtn {
	height: 50px;
	width: 50px;
	background-color: var(--bg-light);
	position: absolute;
	right: 31px;
	top: 0;
	border: 2px solid white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	cursor: pointer;
	box-shadow: 0px 8px 10px var(--bg-base);
	transform: scaleY(0);
	top: -25px;
}

.favBtn i { pointer-events: none; }

.favBtn:hover { background-color: var(--bg-base); }

.scale-one { 
	top: 0;
	transform: scaleY(1); 
}

.favBtns {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#addFav,
#clearFav,
#sort {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 200px;
	width: 100%;
	height: 3rem;
	font-size: 1.5rem;
	background-color: var(--bg-light);
	margin-right: 2rem;
	border-radius: 10px;
	cursor: pointer;
	user-select: none;
}

#loading {
	width: 7px;
	height: 44px;
	position: absolute;
	right: 0;
	left: 0;
	top: 60px;
	background-color: var(--bg-light);
	margin: auto;
	visibility: hidden;
	animation: spin 1s infinite linear;
}

#loading.visible {
	visibility: visible;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}